/* Adicionando variáveis no CSS, fontes e configurações globais

Irá abrir um root
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

e depois só usar o: var (--cor0)

exemplo de usar a cor:
background-color: var(--cor1)

exemplo de como usar a fonte:
font-family: var(--fonte-android);

Configuração Global
*{
    margin: 0px;
    padding: 0px;
}
*/

@font-face {
    font-family: fontecorpo;
    src: url('fontes/idroid.otf');
}
@font-face {
    font-family: fontetopo;
    src: url('fontes/BebasNeue-Regular.otf');
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}
body{
    display: block;
    background-color: #E7E5C2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-top: -30px;
    overflow-x: hidden;
}

header#topo{
    background-image: linear-gradient(to top, var(--cor5), var(--cor3))  ;
    color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.339);
}
h1#topo2 {
    font-family: 'fontetopo';
    font-size: clamp(2.5em, 2.8em, 3em);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.8px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.519);
    margin: 30px 0 0 0;
    padding-top: 10px;
}

h2#topo3{
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.513);
    margin: 0;
}

/*MENU LINK*/

nav{
    background-color: var(--cor5);
    padding-top: 20px;
}

nav#menu > a{
    color: var(--cor3);
    text-decoration: none;
    position: relative;
    padding: 5px;
    top:-5px;
    font-weight: bold;
    font-size: clamp(0.8em, 1em, 1.5em);
}

nav#menu > a:hover{
    background-color: var(--cor2);
    color: #043d1b99;
    border-radius: 5px;
}

.menu2{
    transition: 1s;
}

/* Corpo do Site */

.link-corpo{
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor4);
    padding: 2px 6px;
    font-weight: bold;
}

.link-corpo::after{
    content: '\00A0\1F517';
}

.link-corpo:hover{
    text-decoration:1px underline black;
}

.corpo-principal{
    background-color: white;
    margin: auto;
    min-width: 360px;
    max-width: 1000px;
    padding: 0px 15px 5px 15px;
    box-shadow: 2px 3px 7px 3px rgb(0 0 0 / 26%);
    border: 1px solid rgba(0, 0, 0, 0.292);
}

h1#mascote{
    font-family: 'fontecorpo';
    text-shadow: 1px 0px 2px var(--cor5);
    letter-spacing: 2px;
    margin: 18px 0 18px 0;
}

.versao{
    font-family: 'fontecorpo';
    font-size: 1.2em;
    background-color: var(--cor2);
    background-image: linear-gradient(to right, var(--cor2), white 90%);
    text-indent: 7px;
    color: rgba(0, 0, 0, 0.67);
}

p{
    text-indent: 30px;
    text-align: justify;
    font-size: clamp(0.8em, 1em, 1.5em);
    line-height: 1.5em;  /* Espaçamento entre linhas */
}

aside.txt-tabela{
    box-shadow:  3px 3px 8px rgb(0 0 0 / 28%);
    border-radius: 10px;
    background-color: var(--cor1);
    padding: 0 0 5px 0;
}

.tabela{
    columns: 2;
    list-style: none;
    /* list-style-type: \2714\00A0\00A0;  (Sinal de verificado(checked) e mais dois espaços)*/ 
    /* list-style-position: inside; (a bolas da lista vão para dentro do aside) */
}

.aprender-mais{
    background-color: var(--cor5);
    color: white;
    border-radius: 10px 10px 0 0px;
    padding: 5px;
}

.txt-tabela2{
    padding: 0 5px 0 5px;
}

main img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fotos{
    display: block;
    max-width: 350px;
    margin: auto;
}

.strong{
    color: #000000b8;
}

.final{
    display: block;
    margin: 16px 0px 0px 5px;
}

/* VÍDEO */

 main div {
    position: relative;
    padding-bottom: 56.25%;
    background-color: var(--cor5);
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .video-container iframe {
    position: absolute; /* quando coloca position absolute da para mexer no top e left */
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }

/* Rodapé */

footer > p{
    text-align: center;
    padding: 3px;
    color: white;
    background-color: var(--cor5);
    margin-top: 20px;
    margin-bottom: 0px;
}

.rodape{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.rodape:hover{
    color: var(--cor3);
    text-decoration: 1px underline ;
}
